<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="room.dao.face.RoomDao">

	<select id="selectAll" resultType="Room">
		select * from room
		order by room_no
	</select> 
	
	<select id="selectMyAll" resultType="Room">
		select * from room
		WHERE user_no = #{userNo}
		order by room_no
	</select> 
	
	<insert id="insertRoom" parameterType="Room">
		<selectKey keyProperty="roomNo" resultType="int" order="BEFORE">
		SELECT room_seq.nextval FROM dual
		</selectKey>
		INSERT INTO room ( room_no, user_no, room_category_no, room_name, room_introduce, room_member, room_public )
		VALUES ( #{roomNo }, #{userNo }, #{roomCategoryNo }, #{roomName }, #{roomIntroduce }, #{roomMember }, #{roomPublic } )
	</insert>
	
	<insert id="insertRoomInfo" parameterType="RoomList">
		<selectKey resultType="int" keyProperty="roomListNo" order="BEFORE">
		SELECT room_list_seq.nextval FROM dual
		</selectKey>
		INSERT INTO room_list ( room_list_no, room_no, user_no )
		VALUES ( #{roomListNo }, #{roomNo }, #{userNo } )
	</insert>
	
	<select id="selectRoomInfo" resultType="Room" parameterType="Room">
		SELECT room_no, user_no, room_category_no, room_name, room_introduce, room_member, room_public
		FROM room
		WHERE room_no = #{roomNo}
	</select>

</mapper>