<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="room.dao.face.RoomDao">

	<select id="selectAll" resultType="Room">
		select * from room
		order by room_no
	</select> 
	
	<select id="selectCategoryAll" resultType="RoomCategory">
		select * from room_category
		order by room_category_no
	</select>
	
	<select id="selectRoomListByUserNo" resultType="Room" parameterType="int">
		SELECT b.* FROM (
            SELECT * FROM room_list
               WHERE user_no = #{userno }) a
		INNER JOIN room b
		ON a.room_no = b.room_no
	</select>
	
	<insert id="insertRoom" parameterType="Room">
		<selectKey keyProperty="roomNo" resultType="int" order="BEFORE">
		SELECT room_seq.nextval FROM dual
		</selectKey>
		INSERT INTO room ( room_no, user_no, room_category_no, room_name, room_introduce, room_member, room_public )
		VALUES ( #{roomNo }, #{userNo }, #{roomCategoryNo }, #{roomName }, #{roomIntroduce }, #{roomMember }, #{roomPublic } )
	</insert>
	
	<insert id="insertRoomInfo" parameterType="RoomList">
		<selectKey resultType="int" keyProperty="roomListNo" order="BEFORE">
		SELECT room_list_seq.nextval FROM dual
		</selectKey>
		INSERT INTO room_list ( room_list_no, room_no, user_no )
		VALUES ( #{roomListNo }, #{roomNo }, #{userNo } )
	</insert>
	
<!-- 	<insert id="insertDiaryCategory" parameterType="DiaryCategory">
		<selectKey resultType="int" keyProperty="diary.dto.DiaryCategory.diaryCateNo" order="BEFORE" >
		SELECT diary_category_seq.nextval FROM dual
		</selectKey>
		INSERT INTO diary_category ( diary_cate_no, room_no, diary_cate_name )
		VALUES ( #{diaryCateNo }, #{roomNo }, "공지사항" )
	</insert> -->
	
	<select id="selectRoomInfo" resultType="Room" parameterType="Room">
		SELECT room_no, user_no, room_category_no, room_name, room_introduce, room_member, room_public
		FROM room
		WHERE room_no = #{roomNo}
	</select>
	
	<select id="selectRoomCaName" resultType="string" parameterType="int">
		SELECT room_category_name
		FROM room_category
		WHERE room_category_no = #{roomCategoryNo}
	</select>
	
	<select id="selectUserNoFromRoomList" resultType="RoomList" parameterType="int">
		SELECT room_list_no, room_no, user_no
		FROM room_list
		WHERE room_no = #{roomNo}
	</select>
	
	<select id="selectUserNoChk" resultType="int" parameterType="RoomList">
		SELECT count(*) FROM room_list
		WHERE  room_no = #{roomNo} AND user_no = #{userNo }
	</select>
	
	<update id="updateRoom" parameterType="Room">
		UPDATE room
		SET room_name = #{roomName}, room_introduce = #{roomIntroduce}, room_category_no = #{roomCategoryNo}, room_member = #{roomMember}, room_public = #{roomPublic}
		WHERE room_no = #{roomNo}
	</update>
	
	<delete id="deleteRoomList" parameterType="RoomList">
		DELETE room_list
		WHERE room_no = #{roomNo} AND user_no = #{userNo}
	</delete>
	
	<delete id="deleteRoom" parameterType="int">
		DELETE room
		WHERE room_no = #{roomNo}
	</delete>

</mapper>