<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment.dao.face.PaymentDao">

	<select id="selectLoginInfo" resultType="Member" parameterType="Member">
		SELECT * FROM member
		WHERE user_id = #{userId}
	</select>
	
	<insert id="savePaymentInfo" parameterType="Payment">
		INSERT INTO PAYMENT (PAY_NO, USER_NO, PRODUCT_NO, PAYMENT_METHOD, PAYMENT_AMOUNT
		, RESULT_STATUS, PAYMENT_DATE, EXPIRATION_DATE, DURATION)
		VALUES (#{payNo}, #{userNo}, #{productNo}, #{paymentMethod}, #{paymentAmount}
		, #{resultStatus}, #{paymentDate}, #{expirationDate}, #{duration})
	</insert>
	
	<select id="selectProductInfo" resultType="Product" parameterType="int">
		SELECT * FROM product
		WHERE price = #{amount}
	</select>
	
	<select id="selectPaymentInfo" resultType="Payment" parameterType="Payment">
		SELECT
			PAY_NO, USER_NO, PRODUCT_NO, PAYMENT_METHOD, PAYMENT_AMOUNT
			, RESULT_STATUS, PAYMENT_DATE, EXPIRATION_DATE
		FROM payment
		WHERE user_no = #{userNo}
	</select>
	
		<select id="selectPayList" resultType="Payment" parameterType="Payment">
		SELECT
			PAY_NO, USER_NO, PRODUCT_NO, PAYMENT_METHOD, PAYMENT_AMOUNT
			, RESULT_STATUS, PAYMENT_DATE, EXPIRATION_DATE, DURATION
		FROM payment
		WHERE user_no = #{userNo}
	</select>
	

	
</mapper>