<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="diary.dao.face.DiaryDao">

	<select id="selectCntMember" resultType="int" parameterType="member.dto.Member">
		SELECT count(*) cnt FROM member
		WHERE user_id = #{userId} AND user_pw = #{userPw}
	</select>
	
	<select id="selectMember" resultType="member.dto.Member" parameterType="member.dto.Member">
		SELECT * FROM member
		WHERE user_id = #{userId} AND user_pw = #{userPw}
	</select>
	
	<select id="selectRoomList" resultType="room.dto.RoomList" parameterType="int">
		SELECT * FROM room_list
		WHERE user_no = #{userNo}
		ORDER BY room_list_no
	</select>

	<select id="selectRoom" resultType="room.dto.Room" parameterType="hashmap">
		SELECT * FROM room
			<foreach collection="roomNoArr" item="roomNo" open="WHERE" separator="OR">
				room_no = #{roomNo}
			</foreach>
		ORDER BY room_name
	</select>
	
	<update id="deleteFavorite" parameterType="int">
		DELETE from diary_favorite
		WHERE user_no = #{userNo}
	</update>
	
	<insert id="insertFavorite" parameterType="diary.dto.DiaryFavorite">
		INSERT ALL
			<foreach collection="list" item="item">
				INTO diary_favorite VALUES (#{item.roomNo}, #{item.userNo}, (select room_name from room where room_no = #{item.roomNo}))
			</foreach>
		SELECT * FROM dual
	</insert>
	
	<select id="selectFavorite" resultType="diary.dto.DiaryFavorite" parameterType="int">
		SELECT * FROM diary_favorite
		WHERE user_no = #{userNo}
		ORDER BY room_name
	</select>
	
	<select id="selectDiaryNotice" resultType="diary.dto.Diary" parameterType="room.dto.Room">
		SELECT d.*, m.user_name, r.room_name, c.diary_cate_name, h.diary_hot
		FROM diary d left outer join member m ON d.user_no = m.user_no
		LEFT OUTER JOIN room r ON d.room_no = r.room_no
		LEFT OUTER JOIN diary_category c ON d.diary_cate_no = c.diary_cate_no
		LEFT OUTER JOIN diary_hot h ON d.room_no = h.room_no
		WHERE diary_cate_name = '공지사항' AND (
		<foreach collection="list" item="item" separator="OR">
				d.room_no = #{item.roomNo}
		</foreach>
		) ORDER BY d.diary_date DESC
	</select>
	
	<select id="selectDiaryRecomm" resultType="diary.dto.Diary" parameterType="room.dto.Room">
		SELECT d.*, m.user_name, r.room_name, c.diary_cate_name, h.diary_hot
		FROM diary d left outer join member m ON d.user_no = m.user_no
		LEFT OUTER JOIN room r ON d.room_no = r.room_no
		LEFT OUTER JOIN diary_category c ON d.diary_cate_no = c.diary_cate_no
		LEFT OUTER JOIN diary_hot h ON d.room_no = h.room_no
		WHERE (
		<foreach collection="list" item="item" separator="OR">
				d.room_no = #{item.roomNo}
		</foreach>
		) AND d.diary_recommend >= h.diary_hot ORDER BY d.diary_date DESC
	</select>
	
	<select id="selectDiaryCurrent" resultType="diary.dto.Diary" parameterType="room.dto.Room">
		SELECT d.*, m.user_name, r.room_name, c.diary_cate_name, h.diary_hot
		FROM diary d left outer join member m ON d.user_no = m.user_no
		LEFT OUTER JOIN room r ON d.room_no = r.room_no
		LEFT OUTER JOIN diary_category c ON d.diary_cate_no = c.diary_cate_no
		LEFT OUTER JOIN diary_hot h ON d.room_no = h.room_no
		WHERE diary_cate_name != '공지사항' AND (
		<foreach collection="list" item="item" separator="OR">
				d.room_no = #{item.roomNo}
		</foreach>
		) ORDER BY d.diary_date DESC
	</select>
	
	<select id="selectAdminRoom" resultType="room.dto.Room" parameterType="int">
		SELECT * FROM room
		WHERE user_no = #{userNo}
		ORDER BY room_no
	</select>
	
	<select id="selectRoomName" resultType="room.dto.Room" parameterType="int">
		SELECT * FROM room
		WHERE room_no = #{roomNo}
	</select>
	
	<select id="selectHotvalue" resultType="diary.dto.DiaryHot" parameterType="int">
		SELECT * FROM diary_hot
		WHERE room_no = #{roomNo}
	</select>
	
	<select id="selectHot" resultType="int" parameterType="int">
		SELECT count(*) FROM diary_hot
		WHERE room_no = #{roomNo}
	</select>
	
	<insert id="insertHot" parameterType="diary.dto.DiaryHot">
		INSERT INTO diary_hot
		values (#{roomNo}, #{diaryHot})
	</insert>
	
	<update id="updateHot" parameterType="diary.dto.DiaryHot">
		UPDATE diary_hot SET diary_hot = #{diaryHot}
		WHERE room_no = #{roomNo}
	</update>
	
	<select id="selectDiaryCategory" resultType="diary.dto.DiaryCategory" parameterType="int">
		SELECT * FROM diary_category
		WHERE room_no = #{roomNo} AND diary_cate_name = '공지사항'
		UNION ALL
		SELECT * FROM (
			SELECT * FROM diary_category
			WHERE room_no = #{roomNo} AND diary_cate_name != '공지사항'
			ORDER BY diary_cate_name
		) b
	</select>
	
	<insert id="insertDiaryCategory" parameterType="diary.dto.DiaryCategory">
		INSERT INTO diary_category
		VALUES (diary_category_seq.nextval, #{roomNo}, #{diaryCateName})
	</insert>
	
	<delete id="deleteDiaryCategory" parameterType="diary.dto.DiaryCategory">
		DELETE FROM diary_category
		WHERE (room_no = #{roomNo} AND diary_cate_name = #{diaryCateName}) 
	</delete>
	
	<select id="selectRoomUserList" resultType="diary.dto.DiaryRoomList" parameterType="int">
		SELECT l.room_list_no, r.room_no, r.user_no, m.user_id FROM room r
		LEFT OUTER JOIN member m ON r.user_no = m.user_no
		LEFT OUTER JOIN room_list l ON r.room_no = l.room_no AND r.user_no = l.user_no
		WHERE r.room_no = #{roomNo}
		UNION ALL
		SELECT * FROM (
			SELECT l.*, m.user_id FROM room_list l
			LEFT OUTER JOIN member m ON l.user_no = m.user_no
			WHERE l.room_no = #{roomNo} AND l.user_no != (SELECT user_no FROM room WHERE room_no = #{roomNo})
			ORDER BY m.user_id
		) b
	</select>
	
	<select id="selectDiaryAdmin" resultType="diary.dto.DiaryAdmin" parameterType="int">
		SELECT * FROM diary_admin
		WHERE room_no = #{roomNo}
	</select>	
	
	<delete id="deleteDiaryAdmin" parameterType="int">
		DELETE FROM diary_admin
		WHERE room_no = #{roomNo}
	</delete>
	
	<insert id="insertDiaryAdmin" parameterType="diary.dto.DiaryAdmin">
		INSERT ALL
			<foreach collection="list" item="item">
				INTO diary_admin VALUES (#{item.roomNo}, #{item.userNo}, (SELECT user_name FROM member WHERE user_no = #{item.userNo}))
			</foreach>
		SELECT * FROM dual
	</insert>
	
	<select id="selectDiaryNoticeRead" resultType="int" parameterType="int">
		SELECT count(*) cnt FROM diary_notice_read
		WHERE user_no = #{userNo}
		AND notice_read = 1
	</select>
	
	<select id="selectDiaryCategoryInfo" resultType="diary.dto.DiaryCategory" parameterType="int">
		SELECT * FROM diary_category
		WHERE diary_cate_no = #{diaryCateNo}
	</select>	
	
	<select id="selectMemberName" resultType="member.dto.Member" parameterType="int">
		SELECT * FROM member
		WHERE user_no = #{userNo}
	</select>	
	
	<select id="selectDiaryHot" resultType="diary.dto.DiaryHot" parameterType="int">
		SELECT * FROM diary_hot
		WHERE room_no = #{roomNo}
	</select>
	
	<insert id="insertDiary" parameterType="diary.dto.Diary">
		INSERT INTO diary ( diary_no, diary_cate_no, user_no, room_no, diary_title, diary_content, diary_Date, diary_hit, diary_public, diary_recommend, diary_best )
		VALUES ( diary_seq.nextval, #{diaryCateNo}, #{userNo}, #{roomNo}, #{diaryTitle}, #{diaryContent}, sysdate, 0, #{diaryPublic}, 0, 0)
	</insert>
	
	<select id="selectDiaryNo" resultType="int" parameterType="diary.dto.Diary">
		SELECT diary_no FROM (
    		SELECT rownum rnum, diary_no FROM (
      			SELECT diary_no FROM diary
      			WHERE user_no = #{userNo}
        		ORDER BY diary_no DESC
   			) b
		) board WHERE rnum BETWEEN 1 and 1
	</select>	
	
	<insert id="insertFile" parameterType="diary.dto.DiaryFile">
		INSERT INTO diary_file ( diary_file_no, diary_no, diary_origin_name, diary_stored_name, diary_file_size, diary_file_date )
		VALUES ( diary_file_seq.nextval, #{diaryNo}, #{diaryOriginName}, #{diaryStoredName}, #{diaryFileSize}, sysdate)
	</insert>
	
	<update id="hit" parameterType="int">
		UPDATE diary SET diary_hit = diary_hit + 1
		where diary_no = #{diaryNo}
	</update>
	
	<select id="selectDiary" resultType="diary.dto.Diary" parameterType="int">
		SELECT d.*, m.user_name, r.room_name, c.diary_cate_name, h.diary_hot
		FROM diary d left outer join member m ON d.user_no = m.user_no
		LEFT OUTER JOIN room r ON d.room_no = r.room_no
		LEFT OUTER JOIN diary_category c ON d.diary_cate_no = c.diary_cate_no
		LEFT OUTER JOIN diary_hot h ON d.room_no = h.room_no
		WHERE diary_no = #{diaryNo}
	</select>
	
	<select id="selectFile" resultType="diary.dto.DiaryFile" parameterType="diary.dto.Diary">
		SELECT diary_file_no, diary_no, diary_origin_name, diary_stored_name
		FROM diary_file WHERE diary_no = #{diaryNo}
	</select>
	
	<select id="selectDiaryUserRecomm" resultType="diary.dto.DiaryUserRecomm" parameterType="int">
		SELECT diary_recommend
		FROM diary_user_recomm WHERE user_no = #{userNo}
	</select>	
	
	<update id="updateRecomm" parameterType="int">
		UPDATE diary SET diary_recommend = diary_recommend + 1
		where diary_no = #{diaryNo}
	</update>
	
	<update id="updateUserRecomm" parameterType="int">
		UPDATE diary_user_recomm SET diary_recommend = 0
		where user_no = #{userNo}
	</update>
	
	<update id="updateAllRecomm">
		UPDATE diary_user_recomm SET diary_recommend = 1
	</update>
	
	<select id="selectDiaryAdminCheck" resultType="int" parameterType="diary.dto.DiaryAdmin">
		SELECT count(*) FROM diary_admin
		WHERE room_no = #{roomNo} AND user_no = #{userNo}
	</select>	
	
	<select id="selectDiaryCategory2" resultType="diary.dto.DiaryCategory" parameterType="int">
		SELECT * FROM diary_category
		WHERE room_no = #{roomNo} AND diary_cate_name != '공지사항'
	</select>
	
	<delete id="deleteDiary" parameterType="int">
		DELETE FROM diary
		WHERE diary_no = #{diaryNo}
	</delete>
	
	<update id="updateDiary" parameterType="diary.dto.Diary">
		UPDATE diary SET diary_title = #{diaryTitle}, diary_content = #{diaryContent}, diary_public = #{diaryPublic}
		WHERE diary_no = #{diaryNo}
	</update>
	
	<select id="selectStoredname" resultType="string" parameterType="int">
		SELECT diary_stored_name FROM diary_file
		WHERE diary_no = #{diaryNo}
	</select>
	
	<delete id="deleteFile" parameterType="int">
		DELETE FROM diary_file
		where diary_no = #{diaryNo} 
	</delete>
	
	<select id="selectMyCntAll" resultType="int" parameterType="diary.dto.DiaryPaging">
	SELECT count(*) FROM (
				SELECT d.*, m.user_name, r.room_name, c.diary_cate_name, h.diary_hot
				FROM diary d left outer join member m ON d.user_no = m.user_no
				LEFT OUTER JOIN room r ON d.room_no = r.room_no
				LEFT OUTER JOIN diary_category c ON d.diary_cate_no = c.diary_cate_no
				LEFT OUTER JOIN diary_hot h ON d.room_no = h.room_no
				WHERE d.user_no = #{userNo}
				<choose>
					<when test="searchsort == 0">
					AND d.diary_title like '%'||#{searchtext}||'%'
					</when>
					
					<when test="searchsort == 1">
					AND c.diary_cate_name like '%'||#{searchtext}||'%'
					</when>
				
					<when test="searchsort == 2">
					AND r.room_name like '%'||#{searchtext}||'%'
					</when>
					
					<when test="searchsort == 3">
					AND m.user_name like '%'||#{searchtext}||'%'
					</when>
				</choose>
		) CNT
	</select>
	
	<select id="selectMyAll" resultType="diary.dto.Diary" parameterType="diary.dto.DiaryPaging">
		SELECT * FROM (
		    SELECT rownum rnum, B.* FROM (
				SELECT d.*, m.user_name, r.room_name, c.diary_cate_name, h.diary_hot
				FROM diary d left outer join member m ON d.user_no = m.user_no
				LEFT OUTER JOIN room r ON d.room_no = r.room_no
				LEFT OUTER JOIN diary_category c ON d.diary_cate_no = c.diary_cate_no
				LEFT OUTER JOIN diary_hot h ON d.room_no = h.room_no
				WHERE d.user_no = #{userNo} 
				<if test="searchsort == 0">
				AND d.diary_title like '%' || #{searchtext} || '%'
				</if>
				<if test="searchsort == 1">
				AND c.diary_cate_name like '%${searchtext}%'
				</if>
				<if test="searchsort == 2">
				AND r.room_name like '%${searchtext}%'
				</if>
				<if test="searchsort == 3">
				AND m.user_name like '%${searchtext}%'
				</if>
				<if test="sort == 0">
				ORDER BY d.diary_date DESC
				</if>
				<if test="sort == 1">
				ORDER BY c.diary_cate_name
				</if>
				<if test="sort == 2">
				ORDER BY r.room_name
				</if>
				<if test="sort == 3">
				ORDER BY m.user_name
				</if>												
		    ) B
		) diary WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectRoomListAuto" resultType="int" parameterType="room.dto.RoomList">
		SELECT count(*) FROM room_list
		WHERE room_no = #{roomNo}
		AND user_no = #{userNo}
	</select>
	
	<select id="selectBestCntAll" resultType="int" parameterType="diary.dto.DiaryPaging">
	SELECT count(*) FROM (
				SELECT d.*, m.user_name, r.room_name, c.diary_cate_name, h.diary_hot
				FROM diary d left outer join member m ON d.user_no = m.user_no
				LEFT OUTER JOIN room r ON d.room_no = r.room_no
				LEFT OUTER JOIN diary_category c ON d.diary_cate_no = c.diary_cate_no
				LEFT OUTER JOIN diary_hot h ON d.room_no = h.room_no
				WHERE d.diary_recommend >= h.diary_hot
				<choose>
					<when test="searchsort == 0">
					AND d.diary_title like '%'||#{searchtext}||'%'
					</when>
					
					<when test="searchsort == 1">
					AND c.diary_cate_name like '%'||#{searchtext}||'%'
					</when>
				
					<when test="searchsort == 2">
					AND r.room_name like '%'||#{searchtext}||'%'
					</when>
					
					<when test="searchsort == 3">
					AND m.user_name like '%'||#{searchtext}||'%'
					</when>
				</choose>
		) CNT
	</select>
	
	<select id="selectBestAll" resultType="diary.dto.Diary" parameterType="diary.dto.DiaryPaging">
		SELECT * FROM (
		    SELECT rownum rnum, B.* FROM (
				SELECT d.*, m.user_name, r.room_name, c.diary_cate_name, h.diary_hot
				FROM diary d left outer join member m ON d.user_no = m.user_no
				LEFT OUTER JOIN room r ON d.room_no = r.room_no
				LEFT OUTER JOIN diary_category c ON d.diary_cate_no = c.diary_cate_no
				LEFT OUTER JOIN diary_hot h ON d.room_no = h.room_no
				WHERE d.diary_recommend >= h.diary_hot
				<if test="searchsort == 0">
				AND d.diary_title like '%' || #{searchtext} || '%'
				</if>
				<if test="searchsort == 1">
				AND c.diary_cate_name like '%${searchtext}%'
				</if>
				<if test="searchsort == 2">
				AND r.room_name like '%${searchtext}%'
				</if>
				<if test="searchsort == 3">
				AND m.user_name like '%${searchtext}%'
				</if>
				<if test="sort == 0">
				ORDER BY d.diary_date DESC
				</if>
				<if test="sort == 1">
				ORDER BY c.diary_cate_name
				</if>
				<if test="sort == 2">
				ORDER BY r.room_name
				</if>
				<if test="sort == 3">
				ORDER BY m.user_name
				</if>												
		    ) B
		) diary WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
</mapper>