<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="diary.dao.face.DiaryDao">

	<select id="selectCntMember" resultType="int" parameterType="member.dto.Member">
		SELECT count(*) cnt FROM member
		WHERE user_id = #{userId} AND user_pw = #{userPw}
	</select>
	
	<select id="selectMember" resultType="member.dto.Member" parameterType="member.dto.Member">
		SELECT * FROM member
		WHERE user_id = #{userId} AND user_pw = #{userPw}
	</select>
	
	<select id="selectRoomList" resultType="room.dto.RoomList" parameterType="int">
		SELECT * FROM room_list
		WHERE user_no = #{userNo}
		ORDER BY room_list_no
	</select>

	<select id="selectRoom" resultType="room.dto.Room" parameterType="hashmap">
		SELECT * FROM room
			<foreach collection="roomNoArr" item="roomNo" open="WHERE" separator="OR">
				room_no = #{roomNo }
			</foreach>
		ORDER BY room_no
	</select>

</mapper>