<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member.dao.face.MemberDao">
	
	<select id="selectIdChk" resultType="int" parameterType="Member">
		SELECT count(*) FROM member
		WHERE user_id = #{userId }
	</select>
	
	<select id="selectIdChkWd" resultType="int" parameterType="Member">
		SELECT count(*) FROM wdmember
		WHERE user_id = #{userId }
	</select>
	
	<insert id="insert" parameterType="Member">
		INSERT INTO member ( user_no, user_id, user_pw, user_email, user_phone, user_name, user_address, user_birth, user_join )
		VALUES ( member_seq.nextval, #{userId}, #{userPw}, #{userEmail}, #{userPhone}, #{userName}, #{userAddress}, #{userBirth}, SYSDATE )
	</insert>
	
	<select id="selectCntMember" resultType="int" parameterType="Member">
		SELECT count(*) FROM member
		WHERE user_id = #{userId} AND user_pw = #{userPw}
	</select>
	
	<select id="selectLoginInfo" resultType="Member" parameterType="Member">
		SELECT * FROM member
		WHERE user_id = #{userId}
	</select>
	
	<select id="selectCntKakaoMember" resultType="int" parameterType="Member">
		SELECT count(*) FROM member
		WHERE user_id = #{userId}
	</select>
	
	<select id="selectCntFindIdMember" resultType="int" parameterType="Member">
		SELECT count(*) FROM member
		WHERE user_name = #{userName} AND user_email = #{userEmail}
	</select>

	<select id="selectEmailByUserId" resultType="String" parameterType="Member">
		SELECT user_id FROM member
		WHERE user_name = #{userName} AND user_email = #{userEmail}
	</select>
	
	<select id="selectCntFindPwMember" resultType="int" parameterType="Member">
		SELECT count(*) FROM member
		WHERE user_name = #{userName} AND user_id = #{userId} AND user_phone = #{userPhone}
	</select>
	
	<update id="updatePw" parameterType="Member">
		UPDATE member
		SET user_pw = #{userPw}
		WHERE user_id = #{userId}
	</update>

	<update id="updateUserModify" parameterType="Member">
		UPDATE member
		SET user_name = #{userName}
			, user_phone = #{userPhone}
			, user_address = #{userAddress}
			, user_birth = #{userBirth}
			, user_email = #{userEmail}
		WHERE user_id = #{userId}
	</update>
	
	<update id="updatePhone" parameterType="Member">
		UPDATE member
		SET user_Phone = #{userPhone}
		WHERE user_id = #{userId}
	</update>
	
	<insert id="insertWdUser" parameterType="Member">
		INSERT INTO wdmember
		VALUES (wdmember_seq.nextval, #{userNo}, #{userId}, #{userPw}, #{userName}, #{userPhone}, #{userAddress}, #{userBirth}, #{userEmail}, #{userJoin}, SYSDATE)
	</insert>
	
	<delete id="deleteUser" parameterType="Member">
		DELETE member
		WHERE user_id = #{userId}
	</delete>
	
	<select id="selectPagingCntAll" resultType="int" parameterType="Member">
		SELECT count(*) FROM inquiry
		WHERE user_no = #{userNo}
	</select>
	
	<select id="selectMyInquiryList" resultType="Inquiry" parameterType="hashmap">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT * FROM inquiry
				WHERE user_no = #{member.userNo}
				ORDER BY inquiry_no DESC
			) B
		) INQUIRY
		WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
	<select id="selectMyInquiryView" resultType="Inquiry" parameterType="Inquiry">
		SELECT * FROM inquiry
		WHERE inquiry_no = #{inquiryNo}
	</select>
	
	<select id="selectPayInfo" resultType="Payment" parameterType="Member">
		SELECT * FROM payment
		WHERE user_no = #{userNo}
		AND result_status = 'Y'
	</select>
	
</mapper>