@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
	height: calc(100% - 53px);
}

body, #container, #content-left, #content-right, #msg-wrap {
	height: 100%;
}

body.swal2-height-auto {
    height: 100% !important;
}

html, body, pre, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, li, ol, th, 
td, p, blockquote, form, fieldset, legend, menu, nav, section, hgroup, 
article, header, aside, footer, input, select, textarea, button { font-family: 'NanumSquareNeo-Variable'; }

input, textarea, button { outline: none; }

#msg-wrap {
	background: #fde6e7;
}

#container {
    margin: 0 auto;
    display: flex;
    background: #fde6e7;
}

#content-left {
/*     border-right: 2px solid #d3c3c3; */
/*     border-bottom: 2px solid #d3c3c3; */
	min-width: 300px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    background: #fff;
}

#content-right {
    border: none;
    width: calc(100% - 300px);
    min-width: 600px;
    float: right;
    box-sizing: border-box;
    background-color: #f4b0b042;
    border-radius: 30px 0 0 0;
}

.btn.btnRoomCreat {
    margin-top: 25px;
    width: 81%;
    height: 46px;
    display: inline-block;
    border-color: #d3c3c3;
    background-color: #232323;
    color: #fff;
    font-size: 15px;
}

.btn.btnRoomCreat:hover, .btn.btnChatCreate:hover {
	background-color: #cb7070;
	border-color: #f8f1f1;
	color: #fff;
}

.btn.btnChatCreate {
	width: 94.7%;
    display: inline-block;
    margin-bottom: 10px;
    border-color: #d3c3c3;
    background-color: #232323;
    color: #fff;
    font-size: 15px;
}

#chatCreWrap {
	background: #fde6e7;
    height: 98px;
    box-shadow: -12px 0px 11px 0px rgb(0 0 0 / 21%);
    transition: height 0.3s ease 0s;
}

#searchWrap {
    display: flex;
    margin: 7px 0 0 29px;
    background-color: #ddd;
    width: 240px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #232323;
}

#searchBar {
    width: 82%;
    height: 23px;
    border: none;
    background-color: #fff;
}

#btnSearch {
	border: none;
    background: none;
    width: 34px;
    padding-top: 2px;
}

#chatRoomType {
	border: 1px solid #777;
    width: 239px;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 70px;
    background-color: #fff;
    border-radius: 3px;
    z-index: 4;
}
#one, #group {
	width: 50%;
    box-sizing: border-box;
    height: 46px;
    padding-top: 14px;
}
#one {
	float: left;
}
#group {
	float: right;	
    border-left: 1px solid #aaa;
}
#one:hover, #group:hover {
	background-color: #eee;
	cursor: pointer;
}


#chatList {
    width: 80%;
    max-width: 296px;
    margin: 26px auto 7px;
    height: calc(100% - 215px);
    overflow: auto;
}

.chatRoomName2 {
    border: 1px solid #fff;
    border-bottom: 1px solid #d1caca;
    background-color: #fff;
    width: 98%;
    height: 47px;
    cursor: pointer;
    border-radius: 3px;
    padding-left: 12px;
    font-size: 16px;
    text-align: left;
}

.chatRoomName2:hover { background-color: #eee; }

.disable {
	background-color: #fde6e7;
    color: #594B4B;
    font-weight: bold;
}

.disable:hover { background-color: #fde6e7; }

.btn_fold {
	width: 98%;
    height: 26px;
    border: navajowhite;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    margin: 7px -7px -15px;
    color: #555
}

.material-symbols-outlined {
	font-size: 21px;
	color: #555
}

.roomList {
	border: 1px solid #ccc;
    width: 94%;
    height: 252px;
    margin: 11px auto;
    overflow: auto;
    background: #fff;
}

.room-n, .room-g {
	display: inline-block;
	width: 66%;
	text-align: left;
	margin-bottom: 13px;
	cursor: pointer;
}

.room-check-box, .room-check-box2 { 
	margin-bottom: 9px;
	accent-color: #594B4B;
	cursor: pointer;
}

.roomH4 {
	margin: 18px 0 11px;
	font-weight: bold;
	display: inline-block;
	min-width: 100px;
}

#createChatRoom {
	border: 1px solid #777;
    min-width: 129%;
    background: #fff;
    position: absolute;
    left: 90%;
    top: 26px;
    z-index: 2;
    border-radius: 3px;
}
#createGroupChatRoom {
	border: 1px solid #777;
    min-width: 129%;
    background: #fff;
    position: absolute;
    left: 90%;
    top: 26px;
    z-index: 2;
    border-radius: 3px;
}

.border-radio {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding-top: 9px;
}
.border-radio:hover {
	color: #cb7070;
}

.roomMemberList {
	background-color: #efefef;
}

.chatRoomName1 {
	width: 60%;
	height: 25px;
	font-size: 15px;
	padding-left: 5px;
}

.clsBoxWrap { text-align: right; }

.clsBox {
	border: none;
    background: #fff;
    padding: 0;
    cursor: pointer;
    border-radius: 6px;
}

#mainImgWrap { margin: 222px auto 0; }

#mainImg {
    width: 485px;
    margin: 0 auto;
}

.hover1, .hover2 {
	border: 1px solid #fff;
	border-top: none;
	box-sizing: border-box;
	height: 252px;
	overflow: auto;
	padding-top: 3px;
	box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 19%);
}

.nomal_chat {
    float: left;
}

.group_chat {
    float: right;
}

.nomal_chat, .group_chat {
	width: 50%;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
	padding-top: 7px;
	cursor: pointer;
    border: 1px solid #d3c3c3;
	border-bottom: 1px solid #aaa;
	border-radius: 2px;
	background: #fff;
}

.chat_cate {
	color: #fff;
	font-weight: bold;
	border: 1px solid #aaa;
	border-bottom: none;
	background: #232323;
}











