@charset "UTF-8";

#container {
    width: 1100px;
    margin: 0 auto;
}

#content-left {
    border: 1px solid red;
    width: 40%;
    height: 600px;
      float: left;
    box-sizing: border-box;
    text-align: center;
}

#content-right {
    border: 1px solid blue;
    width: 60%;
    height: 600px;
     float: right;
    box-sizing: border-box;
}

#btnRoomCreat {
    margin-top: 25px;
    width: 345px;
    height: 46px;
}

#searchWrap {
    margin-top: 10px;
}

#searchBar {
    width: 278px;
    height: 21px;
}

#chatList {
    border: 1px solid #ccc;
    width: 96%;
    margin: 7px auto;
    height: 469px;
}

.chatRoomName {
    border: 1px solid #ccc;
    height: 42px;
    width: 411px;
    cursor: pointer;
}

