@charset "UTF-8";

#MessageArea {
    height: calc(100% - 101px);
    overflow: scroll;
    background-color: #f3f3f3;
}

.chatSendMsg, .chatReceiveMsg {
	display: inline-block;
    border: 1px solid #444;
    padding: 10px;
    max-width: 270px;
    border-radius: 7px;
    text-align: left;
}

.chatSendMsg {
    background-color: #b4c7ef;
    border-color: #a8bce7;
    margin: 7px 22px 7px 4px;
    box-shadow: 3px 3px 2px 0px rgb(0 0 0 / 10%);
}

.chatReceiveMsg {
    background-color: #eee;
    border-color: #c3c3c3;
    margin: 7px 4px 7px 22px;
    box-shadow: -3px 3px 2px 0px rgb(0 0 0 / 10%);
}

#message-menu {
	width: 80%;
    height: 102px;
    float: left;
    resize: none;
    box-sizing: border-box;
    border-top: 1px solid #d3c3c3;
    border-bottom: 1px solid #d3c3c3;
    position: relative;
}

#btnAddFile {
	float: left;
    border: none;
    position: absolute;
    background: none;
    padding: 0;
    margin-left: 6px;
    height: 21px;
}

#btnAddFile span { color: #aaa; }

#btnAddFile:hover span {
	color: #222;
	cursor: pointer; 
}

#file { display: none; }

.btnEmoticon {
	margin-left: 39px;
	color: #aaa;
}

.btnEmoticon:hover {
	color: #222;
	cursor: pointer; 	
}

#message {
	width: 99%;
    height: 65px;
    resize: none;
    border: none;
    box-sizing: border-box;
    margin: 4px 0 0 4px;
}

#sendBtn {
	width: 20%;
    height: 102px;
    box-sizing: border-box;
    border: 1px solid #d3c3c3;
}

#textbarDiv {
    width: calc(100% - 300px);
    display: inline;
}

.chatUserName {
	margin: 7px 27px 0px;
    font-size: 14px;
}

.chatTime {
	color: #333;
    display: inline-block;
    font-size: 13px;
}

.timeWrap { position: relative; }

#chatRoomHeader {
	background-color: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 10%);
    position: sticky;
    top: 0px;
    z-index: 1;
    text-align: right;
}

#chatMenu {
	display: inline-block;
    border: 1px solid #ccc;
    width: 120px;
    padding: 10px 0;
    position: relative;
    top: 1px;
    background-color: #fff;
}

#btnExit {
	border: none;
    background: none;
    width: 100%;
    height: 35px;
}

#btnExit:hover { background-color: #ddd; }

.chatDot {
	margin: 30px;
	margin: 20px 30px 30px 1px;
    font-size: 40px;
    cursor: pointer;
}

#left_profile {
	display: inline-block;
    float: left;
    margin: 8px;
    width: 300px;
}

#userinfo {
	float: left;
    text-align: left;
    margin: 13px 0 0 9px;
    line-height: 21px;
    color: #333;
}

#proflieImg {
	display: inline-block;
    float: left;
    color: #777;
    font-size: 63px;
}

.enterMsgDiv {
	display: inline-block;
    padding: 5px 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fdfdfd;
    box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 10%);
}

.sendImg {
	display: inline-block;
    margin: 10px 22px -17px 7px;
    border-radius: 10px;
    max-width: 400px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 2px 0px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.rImg {
	display: inline-block;
    margin: 10px 7px -17px 22px;
    border-radius: 10px;
    max-width: 400px;
    border: 1px solid #ccc;
    box-shadow: -3px 3px 2px 0px rgb(0 0 0 / 10%);
    cursor: hand; 
    cursor: pointer;
}

#emoticonContainer {
	display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 370px;
    height: 120px;
    overflow: auto;
    position: absolute;
    left: -1px;
    bottom: 98px;
    background-color: #fff;
}

.emoticon {
	width: 36px;
	display: inline-block;
	cursor: pointer;
}

.emoticonMsg {
	display: inline-block;
	width: 100px;
	margin: 20px 23px -13px 0;
}

.remoticonMsg {
	display: inline-block;
	width: 100px;
	margin: 20px 0 -13px 23px;
}

.btn-send-download {
	position: relative;
    left: 68px;
    bottom: 6px;
    color: #777;
    cursor: pointer;
}
.btn-recv-download {
    position: relative;
    left: -2px;
    bottom: 5px;
}
.btn-download {
	color: #777;
    font-size: 26px;
}

.rbtn-download {
	position: absolute;
    bottom: 2px;
    color: #777;
    font-size: 26px;
    right: 40px;
}

.btn-download:hover, .rbtn-download:hover { color: #111; }

.notImgFile:hover { color: #fff; }

.notImgFile-r:hover { color: #765b5b; }

.timeDiv {
	display: inline;
    position: relative;
    top: 9px;
    left: -2px;
}

.rtimeDiv {
	display: inline;
    position: relative;
    top: 9px;
}

textarea::placeholder { color:#aaa; }

.bigPictureWrap {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top:52px;
	width:85%;
	height:923px;
	z-index: 100;
	backdrop-filter: blur(4px);
	background: rgb(0 0 0 / 50%);
}

.bigPicture {
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
}

.bigPicture img {
	width:600px;
}




