@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
	height: calc(100% - 53px);
}
body, #container, #content-left, #content-right, #msg-wrap {
	height: 100%;
}
html, body, pre, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, li, ol, th, 
td, p, blockquote, form, fieldset, legend, menu, nav, section, hgroup, 
article, header, aside, footer, input, select, textarea, button {
	font-family: 'NanumSquareNeo-Variable';
}
input, textarea, button {
	outline: none;
}
#container {
    margin: 0 auto;
    display: flex;
}

#content-left {
    border: 2px solid #d3c3c3;
	min-width: 300px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

#content-right {
    border: none;
    width: calc(100% - 300px);
    min-width: 600px;
    float: right;
    box-sizing: border-box;
    background-color: #f4b0b042;
}

.btn.btnRoomCreat {
    margin-top: 25px;
    width: 81%;
    height: 46px;
    display: inline-block;
    border-color: #d3c3c3;
    background-color: #f4b0b0;
    color: #594B4B;
    font-size: 15px;
}
.btn.btnRoomCreat:hover, .btn.btnChatCreate:hover {
	background-color: #cb7070;
	border-color: #f8f1f1;
	color: #fff;
}
.btn.btnChatCreate {
	width: 93%;
    display: inline-block;
    margin-bottom: 10px;
    border-color: #d3c3c3;
    background-color: #f4b0b0;
    color: #594B4B;
    font-size: 15px;
}
#searchWrap {
    display: flex;
    margin: 7px 0 0 29px;
    background-color: #ddd;
    width: 240px;
    border-radius: 3px;
}
#searchBar {
    width: 82%;
    height: 23px;
    border: none;
    background-color: #ddd;
}
#btnSearch {
	border: none;
    background: none;
    width: 34px;
    padding-top: 2px;
}
#chatList {
    width: 96%;
    margin: 10px auto 7px;
    height: calc(100% - 215px);
    overflow: auto;
}

.chatRoomName2 {
    border: 1px solid #d3c3c3;
    background-color: #fff;
    width: 98%;
    height: 42px;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 3px;
}
.chatRoomName2:hover {
	background-color: #f3bfbf5e;
}
.disable {
	background-color: #f4b0b0;
    color: #fff;
    font-weight: bold;
}
.disable:hover {
	background-color: #f4b0b0;
}
.btn_fold {
	width: 98%;
    height: 26px;
    border: navajowhite;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    margin-bottom: -15px;
    color: #555
}
.material-symbols-outlined {
	font-size: 21px;
	color: #555
}

#roomList {
	border: 1px solid #ccc;
    width: 94%;
    height: 172px;
    margin: 13px auto;
    overflow: auto;
    background: #fff;
}
.room-n {
	display: inline-block;
	width: 66%;
	text-align: left;
	margin-bottom: 13px;
}
.room-check-box {
	margin-bottom: 9px;
}

.roomH4 {
	margin: 18px 0 11px;
	font-weight: bold;
	display: inline-block;
	min-width: 100px;
}
#createChatRoom {
	border: 1px solid #ccc;
    min-width: 129%;
    background: #fff;
    position: absolute;
    left: 91%;
    top: 3%;
    z-index: 2;
}
.border-radio {
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
}
#chatRoomName1 {
	width: 60%;
	height: 25px;
	font-size: 15px;
	padding-left: 5px;
}
#close-box-wrap {
	text-align: right;
}
#close-box {
	border: none;
    background: #fff;
    padding: 0;
    cursor: pointer;
}
.timeDiv {
	display: inline;
    position: relative;
    top: 9px;
}

#mainImgWrap {
	margin-top: 208px;
}
#mainImg {
    width: 485px;
    margin: 0 auto;
}







