@charset "UTF-8";

:root {
	--text-color: #fff;
	--background-color: #f4b0b0;
	--lightPink-color: #edc7c7;
	--deepPink-color: #cb7070;
	--accent-color: #594B4B;
	--light-color: #f8f1f1;
	--border-color: #d3c3c3;
	--shadow--color: #f1ecec;
	
	--shadow-gray: #f1f1f1;
	--baby-pink: #fde6e7;
	--real-black: #000000;
	--soft-black: #232323;
	--deep-gray: #a0a0a0;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* COMMONS */
body {
	margin-top: 52px;
	-ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  max-width: 1435px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 100px;
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--accent-color);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}
.btn.btn--reverse {
  background-color: var(--text-color);
  color: var(--accent-color);
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: var(--text-color);
}
.btn.btn--brown {
  background-color: var(--accent-color);
  color: var(--text-color);
  border-color: var(--border-color);
}
.btn.btn--brown:hover {
  color: var(--accent-color);
  background-color: var(--text-color);
}
.btn.btn--pink {
  background-color: var(--accent-color);
  color: var(--text-color);
  border-color: var(--border-color);
}
.btn.btn--brown:hover {
  color: var(--accent-color);
  background-color: var(--text-color);
}


/* HEADER */
header {
	width: 100%;
	background-color: var(--baby-pink);
	position: fixed;
	top: 0;
	z-index: 9;
	border-bottom: 2px solid var(--border-color);
}
header > .inner {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	height: 50px;
}
.header__logo {
	position: relative;
	top: -8px;
	width: 100px;
}
.header__logo img {
	width: 80px;
}
.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__menu li {
	list-style: none;
	padding: 10px;
}
.header__menu li a {
	color: var(--soft-black);
	opacity: 30%;
}
.header__menu li a.choose {
	color: var(--soft-black);
	opacity: 100%;
}
.header__menu li a:hover {
	color: var(--soft-black);
	opacity: 100%;
}
.header__my {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	margin: auto 0;
	border-radius: 50%;
}
.header__my li{
	font-weight: bold;
	font-style: var(--text-color);
	display: flex;
}
.header__my li a{
	color: var(--soft-black);
    font-family: 'GongGothicMedium';
    font-size: 12px;
    font-weight: 300;
    border: 1px solid var(--soft-black);
    padding: 5px 7px;
    border-radius: 4px;
}
.header__my li a:hover {
	color: var(--text-color);
    border: 1px solid var(--text-color);
	background-color: var(--soft-black);
}
.header__toggleBtn {
	display:none;
	position: absolute;
	right: 10px;
	font-size: 45px;
	color: var(--accent-color);
}


@media screen and (max-width: 768px) {
  header .inner {
    flex-direction: column;
    align-items: flex-start;
    height: 60px;
    padding: 0px;
  }
  .header__logo {
	padding: 0px 16px;
    position: relative;
    top: -7px;
  }
  .header__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightPink-color);
    width: 100%;
    padding: 0;
  }
  .header__menu li:hover {
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header__my {
    position: absolute;
    top: 12px;
    right: 50px;
  }

  .header__toggleBtn {
    display: block;
  }

  .header__menu.active {
    display: flex;
  }
  body {
  	margin-top: 60px;
  }
}
