@charset "UTF-8";

:root {
  --text-color: #fff;
  --background-color: #f4b0b0;
  --deepPink-color: #cb7070;
  --accent-color: #594B4B;
  --light-color: #f8f1f1;
  --border-color: #d3c3c3;
  --shadow--color: #f1ecec;
  --point-color: #93d2cb;
}

/* COMMONS */
/* @font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2%27) format('woff2');
    font-weight: normal;
    font-style: normal;
}
html, body, pre, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, li, ol, th, td, p, blockquote, form, fieldset, legend, menu, nav, section, hgroup, article, header, aside, footer, input, select, textarea, button {
  font-family: 'NanumSquareNeo-Variable';
}
 */
body {
/*   font-family: 'NanumSquareNeo-Variable'; */
  margin-top: 52px;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 100px;
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--accent-color);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}
.btn.btn--reverse {
  background-color: var(--text-color);
  color: var(--accent-color);
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: var(--text-color);
}
.btn.btn--brown {
  background-color: var(--accent-color);
  color: var(--text-color);
  border-color: var(--border-color);
}
.btn.btn--brown:hover {
  color: var(--accent-color);
  background-color: var(--text-color);
}
.btn.btn--pink {
  background-color: var(--accent-color);
  color: var(--text-color);
  border-color: var(--border-color);
}
.btn.btn--brown:hover {
  color: var(--accent-color);
  background-color: var(--text-color);
}


/* HEADER */
header {
  width: 100%;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  z-index: 9;
  border-bottom: 2px solid #dca0a0;
}
header > .inner {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  height: 50px;
}
.header__logo {
  position: relative;
  top: -8px;
  width: 100px;
}
.header__logo img {
  width: 80px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu li {
  list-style: none;
  padding: 10px;
}
.header__menu li a {
  color: var(--text-color);
}
.header__menu li a.choose {
  color: var(--accent-color);
}
.header__menu li a:hover {
  color: #594B4B;
}
.header__my {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  width: 35px;
  height: 35px;
  margin: auto 0;
  border-radius: 50%;
  background-color: var(--text-color);
}
.header__my li{
 font-weight: bold;
 font-style: var(--accent-color);
}
.header__toggleBtn {
  display:none;
  position: absolute;
  right: 10px;
  font-size: 45px;
  color: var(--accent-color);
}


@media screen and (max-width: 768px) {
  header .inner {
    flex-direction: column;
    align-items: flex-start;
    height: 60px;
    padding: 0px;
  }
  .header__logo {
	padding: 0px 16px;
    position: relative;
    top: -7px;
  }
  .header__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
    width: 100%;
    padding: 0;
  }
  .header__menu li:hover {
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header__my {
    position: absolute;
    top: 12px;
    right: 50px;
  }

  .header__toggleBtn {
    display: block;
  }

  .header__menu.active {
    display: flex;
  }
  body {
  	margin-top: 60px;
  }
}
