<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chat.dao.face.ChatDao">

	<select id="selectChatRoomList" resultType="ChatRoom" parameterType="int">
		SELECT b.*, c.invite_user_no, d.chat_content last_message FROM chat_room b
		INNER JOIN ( SELECT a.chat_room_no, a.invite_user_no FROM chat_list a
		             WHERE a.invite_user_no = #{userNo } OR a.invite_user_no = 0 or a.user_no = #{userNo } ) c
		ON c.chat_room_no = b.chat_room_no
		INNER JOIN (SELECT * FROM
		            ( SELECT chat_room_no, chat_no, chat_content,
		            RANK() OVER (PARTITION BY chat_room_no ORDER BY chat_no DESC) AS RNK
		            FROM chat )
		            WHERE RNK = 1) d
		ON b.chat_room_no = d.chat_room_no
	</select>
	
	<select id="selectUserInfo" resultType="Member" parameterType="int">
		SELECT * FROM member
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectRoomList" resultType="ChatCreatRoomInfo" parameterType="int">
		SELECT a.room_no, b.user_no, b.room_name FROM (
    		SELECT * FROM room_list
    		WHERE user_no = #{userNo }) a
		INNER JOIN room b
   			ON a.room_no = b.room_no
	</select>
	
	<select id="selectRoomJoinlist" resultType="ChatCreatRoomInfo" parameterType="int">
		SELECT b.room_no, m.user_id, m.user_no FROM (
		    SELECT * FROM room_list
		    WHERE user_no = #{userNo }) a
		INNER JOIN room_list b
		ON a.room_no = b.room_no
		INNER JOIN member m
		ON b.user_no = m.user_no
		WHERE b.user_no != #{userNo }
		ORDER BY b.room_no
	</select>
	
	<!-- 채팅방 INSERT -->
	<insert id="insertChatRoom" parameterType="ChatRoom">
		<selectKey keyProperty="chatRoomNo" resultType="int" order="BEFORE">
			SELECT chat_room_seq.nextval FROM dual
		</selectKey>
		INSERT INTO chat_room (chat_room_no, chat_room_name, chat_room_date, room_no)
		VALUES (#{chatRoomNo }, #{chatRoomName }, sysdate, #{roomNo })
	</insert>
	
	<!-- 채팅방 목록 INSERT -->
	<insert id="insertChatList" parameterType="ChatList">
		<selectKey keyProperty="chatListNo" resultType="int" order="BEFORE">
			SELECT chat_list_seq.nextval FROM dual
		</selectKey>
		INSERT INTO chat_list (chat_list_no, chat_room_no, room_no, user_no, invite_user_no)
		VALUES (#{chatListNo }, #{chatRoomNo }, #{roomNo }, #{userNo }, #{inviteUserNo })
	</insert>
	
	<insert id="insertMessage" parameterType="Chat">
		INSERT INTO chat (chat_no, user_no, chat_room_no, chat_content, chat_time, chat_kind)
		VALUES (chat_seq.nextval, #{userNo }, #{chatRoomNo }, #{chatContent }, #{chatTime }, #{chatKind })		
	</insert>
	
	<!-- 채팅 내역 조회 -->
	<select id="selectChatHistory" resultType="Chat" parameterType="Chat">
		SELECT c.*, m.user_id, f.chat_file_no, f.chat_origin_name FROM chat c
		left JOIN member m
		ON c.user_no = m.user_no
		left JOIN chat_file f
		ON c.chat_no = f.chat_no
			WHERE c.chat_room_no = #{chatRoomNo } AND c.chat_no >= (SELECT MAX(chat_no) FROM chat b
			WHERE b.chat_room_no = #{chatRoomNo } AND b.user_no = #{userNo } AND b.chat_content = '입장하셨습니다.' 
			     AND b.chat_no > (SELECT NVL(MAX(chat_no),0) FROM chat a
			WHERE a.chat_room_no = #{chatRoomNo } AND a.user_no = #{userNo } AND a.chat_content = '나가셨습니다.'))
		ORDER BY c.chat_no
	</select>
	
	<select id="selectMaxChatNo" resultType="Chat" parameterType="int">
		SELECT MAX(chat_no) chat_no FROM chat
		WHERE chat_room_no = #{chatRoomNo }
	</select>
	
	<insert id="insertFile" parameterType="ChatFile">
		INSERT INTO chat_file ( chat_file_no, chat_no, chat_origin_name, chat_stored_name, chat_file_date)
		VALUES ( chat_file_seq.nextval, #{chatNo }, #{chatOriginName }, #{chatStoredName }, sysdate )
	</insert>
	
	<select id="getChatFile" resultType="ChatFile" parameterType="int">
		SELECT * FROM chat_file
		WHERE chat_no = #{chatNo }
	</select>
	
	<select id="selectChatFileBychatFileNo" resultType="ChatFile" parameterType="ChatFile">
		SELECT
			chat_file_no, chat_no, chat_origin_name, chat_stored_name
		FROM chat_file
		WHERE chat_file_no = #{chatFileNo }
	</select>
	
</mapper>













