<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chat.dao.face.ChatDao">

	<select id="selectChatRoomList" resultType="ChatRoom" parameterType="int">
		SELECT b.* FROM (
    		SELECT * FROM room_list
   			WHERE user_no = #{userNo }) a
		INNER JOIN chat_room b
		ON a.room_no = b.room_no
	</select>
	
	<select id="selectUserInfo" resultType="Member" parameterType="int">
		SELECT * FROM member
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectRoomList" resultType="ChatCreatRoomInfo" parameterType="int">
		SELECT a.room_no, b.user_no, b.room_name FROM (
    		SELECT * FROM room_list
    		WHERE user_no = #{userNo }) a
		INNER JOIN room b
   			ON a.room_no = b.room_no
	</select>
	
	<!-- 채팅방 INSERT -->
	<insert id="insertChatRoom" parameterType="ChatRoom">
		<selectKey keyProperty="chatRoomNo" resultType="int" order="BEFORE">
			SELECT chat_room_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO chat_room (chat_room_no, chat_room_name, chat_room_date, room_no)
		VALUES (#{chatRoomNo }, #{chatRoomName }, sysdate, #{roomNo })
	</insert>
	
	<!-- 채팅방 목록 INSERT -->
	<insert id="insertChatList" parameterType="ChatList">
		<selectKey keyProperty="chatListNo" resultType="int" order="BEFORE">
			SELECT chat_list_seq.nextval FROM dual
		</selectKey>
		INSERT INTO chat_list (chat_list_no, chat_room_no, room_no, user_no)
		VALUES (#{chatListNo }, #{chatRoomNo }, #{roomNo }, #{userNo })
	</insert>
	
	<insert id="insertMessage" parameterType="Chat">
		INSERT INTO chat (chat_no, user_no, chat_room_no, chat_content, chat_time, chat_kind)
		VALUES (chat_seq.nextval, #{userNo }, #{chatRoomNo }, #{chatContent }, #{chatTime }, #{chatKind })		
	</insert>
	
	<!-- 채팅 내역 조회 -->
	<select id="selectChatHistory" resultType="Chat" parameterType="Chat">
		SELECT c.*, m.user_id FROM chat c
		INNER JOIN member m
		ON c.user_no = m.user_no
			WHERE chat_room_no = #{chatRoomNo } AND chat_no >= (SELECT MAX(chat_no) FROM chat
			WHERE chat_room_no = #{chatRoomNo } AND user_no = #{userNo } AND chat_kind = 1)
	</select>
	
</mapper>













