<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chat.dao.face.ChatDao">

	<select id="selectChatRoomList" resultType="ChatRoom" parameterType="int">
		SELECT b.* FROM (
    		SELECT * FROM chat_list
    		WHERE user_no = #{userNo }) a
		INNER JOIN chat_room b
    	ON a.chat_room_no = b.chat_room_no
	</select>
	
	<select id="selectUserInfo" resultType="Member" parameterType="int">
		SELECT * FROM member
		WHERE user_no = #{userNo }
	</select>
	
</mapper>
