<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="admin.dao.face.AdminDao">

<!-- - - - - - - - - - - SELECT - - - - - - - - - - -->

	<select id="selectAdmin" resultType="int" parameterType="admin.dto.Admin">
		SELECT count(*) FROM admin
		WHERE admin_id = #{ adminId } AND admin_pw = #{ adminPw }
	</select>
	
	<select id="selectAdminInfo" resultType="admin.dto.Admin" parameterType="admin.dto.Admin">
		SELECT * FROM admin
		WHERE admin_id = #{ adminId }
	</select>
	
	<select id="selectCntRoom" resultType="int">
		SELECT count(*) FROM room
	</select>
	
	<select id="selectCntMember" resultType="int">
		SELECT count(*) FROM member
	</select>
	
	<select id="selectCntPayment" resultType="int">
		SELECT count(*) FROM payment
	</select>
	
	<select id="selectCntInquiry" resultType="int">
		SELECT count(*) FROM inquiry
	</select>
	
	<select id="selectCntNotice" resultType="int">
		SELECT count(*) FROM notice
	</select>
	
	<select id="selectCntQnA" resultType="int">
		SELECT count(*) FROM qna
	</select>

	<select id="selectRoomList" resultType="room.dto.Room" parameterType="common.Paging">
		SELECT room_no FROM room
		ORDER BY room_no
	</select>

	<select id="selectMemberList" resultType="member.dto.Member" parameterType="common.Paging">
		SELECT * FROM (
			SELECT rownum rnum, M.* FROM (
				SELECT
					user_no, user_id, user_name, user_phone
					, user_address, user_birth, user_email, user_join
				FROM member
				ORDER BY user_no DESC
			) M
		) MEMBER
		WHERE rnum BETWEEN #{ startNo } AND #{ endNo }
	</select>

	<sql id="search">
		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'userName'.toString()">
							user_name LIKE '%' || #{ keyword } || '%'
						</when>
						
						<when test="type == 'userId'.toString()">
							user_id LIKE '%' || #{ keyword } || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getSearchPaging" resultType="member.dto.Member">
		<![CDATA[
			SELECT user_no, user_name, user_id FROM (
				SELECT rownum as rn, user_no, user_name, user_id
				FROM member WHERE rownum <= #{ pageNum } * #{ amount }
		]]>
			<if test="keyword != null">
				<include refid="search"></include>
			</if>
		<![CDATA[
			) WHERE rn > (#{ pageNum } -1) * #{ amount }
		]]>
	</select>

	<select id="getTotal" resultType="int">
		SELECT count(*) FROM member
		
		<if test="keyword != null">
			WHERE user_no > 0 <include refid="search"></include>
		</if>
	</select>

<!--
<select id="selectMemberList" resultType="member.dto.Member" parameterType="common.Paging">
		
		<include refid="paging_header" />
			SELECT user_no, user_id, user_name FROM member
			
		<include refid="search" />
			ORDER BY user_no DESC
			
		<include refid="paging_footer" />
	</select>
	
		<sql id="paging_header">
			SELECT * FROM (
				SELCT rownum as rn, A.*
				FROM (
		</sql>
		
		<sql id="paging_footer">
				) A
			) WHERE rn BETWEEN #{ startNo } AND #{ endNo }
		</sql>
		
		<sql id="search">
			<choose>
	
				<when test="search_option == 'all'">
					WHERE
						userId like '%' || #{ keyword } || '%'
						or userName LIKE '%' || #{ keyword } || '%'
				</when>
				<otherwise>
					WHERE ${ search_option } LIKE '%' || #{ keyword } || '%'
				</otherwise>
			</choose>
		</sql>
-->
	<select id="selectPaymentList" resultType="payment.dto.Payment" parameterType="common.Paging">
		SELECT pay_no, pay_type FROM payment
		ORDER BY pay_no
	</select>
	
	<select id="selectNoticeList" resultType="cs.dto.Notice" parameterType="common.Paging">
		SELECT * FROM (
			SELECT rownum rnum, N.* FROM (
				SELECT
					notice_no, writer_id, writer_nick, notice_title, notice_content
					, notice_date, notice_hit
				FROM notice
				ORDER BY notice_no DESC
			) N
		) NOTICE
		WHERE rnum BETWEEN #{ startNo } AND #{ endNo }
	</select>
	
	<select id="selectQnAList" resultType="cs.dto.QnA" parameterType="common.Paging">
		SELECT * FROM (
			SELECT rownum rnum, Q.* FROM (
				SELECT
					qna_no, writer_id, writer_nick, qna_title, qna_content, qna_date
				FROM qna
				ORDER BY qna_no DESC
			) Q
		) QNA
		WHERE rnum BETWEEN #{ startNo } AND #{ endNo }
	</select>
	
	<select id="selectInquiryList" resultType="cs.dto.Inquiry" parameterType="common.Paging">
		SELECT * FROM (
			SELECT rownum rnum, I.* FROM (
				SELECT
					inquiry_no, inquiry_tilte, inquiry_content, inquiry_email, inquiry_date
				FROM inquiry
				ORDER BY inquiry_no DESC
			) I
		) INQUIRY
		WHERE rnum BETWEEN #{ startNo } AND #{ endNo }
	</select>
	
	<select id="selectMemberDetail" resultType="member.dto.Member" parameterType="member.dto.Member">
		SELECT
			user_no, user_id, user_pw, user_name, user_phone, user_address, user_birth
			, user_email, user_join
		FROM member
		WHERE user_no = ${ userNo }
	</select>

	<select id="selectPaymentDetail" resultType="payment.dto.Payment" parameterType="payment.dto.Payment">
		SELECT
			pay_no
		FROM payment
		WHERE payment_no = ${ payNo }
	</select>
	
	<select id="selelctNoticeView" resultType="cs.dto.Notice" parameterType="cs.dto.Notice">
		SELECT
			notice_no, file_no, writer_id, writer_nick, notice_title, notice_content, notice_date, notice_hit
		FROM notice
		WHERE notice_no = #{ noticeNo }
	</select>
	
	<select id="selelctdQnaView" resultType="cs.dto.QnA" parameterType="cs.dto.QnA">
		SELECT
			qna_no, file_no, writer_id, writer_nick, qna_title, qna_content, qna_date
		FROM qna
		WHERE qna_no = #{ qnaNo }
	</select>
	
	<select id="selectCsFileByCsFileNo" resultType="cs.dto.CsFile" parameterType="cs.dto.CsFile">
		SELECT
			file_no, notice_no, qna_no, origin_name, stored_name
		FROM cs_file
		WHERE file_no = #{ fileNo }
	</select>
	
	<select id="selelctCsFileByNoticeNo" resultType="cs.dto.CsFile" parameterType="cs.dto.Notice">
		SELECT
			file_no, notice_no, origin_name, stored_name
		FROM cs_file
		WHERE notice_no = #{ noticeNo }
	</select>

	<select id="getMemberCount" resultType="int">
		SELECT COUNT(*) FROM member
	</select>	

<!-- - - - - - - - - - - INSERT - - - - - - - - - - -->

	<insert id="insertNotice" parameterType="cs.dto.Notice">
		<selectKey order="BEFORE" resultType="int" keyProperty="noticeNo">
			SELECT notice_seq.nextval FROM dual
		</selectKey>
	
		INSERT INTO notice ( notice_no, writer_id, writer_nick, notice_title, notice_content, notice_date )
		VALUES ( #{ noticeNo }, #{ writerId }, #{ writerNick}, #{ noticeTitle }, #{ noticeContent }, SYSDATE )
	</insert>
	
	<insert id="insertQna" parameterType="cs.dto.QnA">
		<selectKey order="BEFORE" resultType="int" keyProperty="qnaNo">
			SELECT qna_seq.nextval FROM dual
		</selectKey>
	
		INSERT INTO qna ( qna_no, writer_id, writer_nick, qna_title, qna_content, qna_date )
		VALUES ( #{ qnaNo }, #{ writerId }, #{ writerNick }, #{ qnaTitle }, #{ qnaContent }, SYSDATE )
	</insert>
	
	<insert id="insertNoticeFile" parameterType="cs.dto.CsFile">
		INSERT INTO cs_file ( file_no, notice_no, qna_no, origin_name, stored_name )
		VALUES ( cs_file_seq.nextval, #{ noticeNo }, #{ qnaNo}, #{ originName }, #{ storedName } )
	</insert>
	
<!-- - - - - - - - - - - UPDATE - - - - - - - - - - -->

	<update id="updateNotice" parameterType="cs.dto.Notice">
		UPDATE notice
		SET notice_title = #{ noticeTitle }
			, notice_content = #{ noticeContent }
			, notice_date = SYSDATE
		WHERE notice_no = #{ noticeNo }
	</update>

	<update id="updateNoticeHit" parameterType="cs.dto.Notice">
		UPDATE notice
		SET notice_hit = notice_hit + 1
		WHERE notice_no = #{ noticeNo }
	</update>

	<update id="updateQna" parameterType="cs.dto.QnA">
		UPDATE qna
		SET qna_title = #{ qnaTitle }
			, qna_content = #{ qnaContent }
		WHERE qna_no = #{ qnaNo }
	</update>

<!-- - - - - - - - - - - DELETE - - - - - - - - - - -->

	<delete id="deleteNotice" parameterType="cs.dto.Notice">
		DELETE notice
		WHERE notice_no = #{ noticeNo }
	</delete>

	<delete id="deleteQna" parameterType="cs.dto.QnA">
		DELETE qna
		WHERE qna_no = #{ qnaNo }
	</delete>
	
	<delete id="deleteNoticeFile" parameterType="cs.dto.Notice">
		DELETE cs_file
		WHERE notice_no = #{ noticeNo }
	</delete>

</mapper>