<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="calendar.dao.face.CalendarDao">
	<insert id="insertMyCal" parameterType="calendar.dto.CalDto">
		INSERT INTO my_calender (cal_no, user_no, cal_title, start_date, start_time ,  cal_place, cal_memo)
		VALUES(seq_my_calender.nextval, 1, #{calTitle}, #{startDate}, #{startTime} ,  #{calPlace}, #{calMemo})
	</insert>
	<select id="selectMyCal" resultType="calendar.dto.CalDto">
		SELECT * FROM my_calender
	</select>
	
	<select id="selectMyCalByCalNo" parameterType="calendar.dto.CalDto" resultType="calendar.dto.CalDto">
		SELECT cal_no, user_no , cal_title, cal_place, cal_memo, start_date, start_time 
		FROM my_calender
		WHERE cal_no = #{calNo}
	</select>
	
	<update id="updateCal" parameterType="calendar.dto.CalDto">
		UPDATE my_calender
		SET cal_title = #{calTitle}
			, start_date = #{startDate}
			, start_time = #{startTime}
			, cal_place = #{calPlace}
			, cal_memo = #{calMemo}
		WHERE cal_no = #{calNo}
	</update>
	
	<delete id="deleteMyCal" parameterType="calendar.dto.CalDto">
		DELETE my_calender WHERE cal_no = #{calNo}
	</delete>
</mapper>