<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cs.dao.face.CsDao">

	<select id="selectNoticeAll" resultType="Notice">
		select * from notice
		order by notice_no DESC
	</select>
	
	<update id="updateNoticeHit" parameterType="Notice">
		UPDATE notice
		SET notice_hit = notice_hit + 1
		WHERE notice_no = #{noticeNo}
	</update>
	
	<select id="selectNoticeDetail" resultType="Notice">
		select * from notice
		WHERE notice_no = #{noticeNo}
	</select>
	
	<select id="selectQnAAll" resultType="QnA">
		select * from qna
		order by qna_no DESC
	</select>

	<insert id="insertInquiry" parameterType="Inquiry">
		<selectKey resultType="int" keyProperty="inquiryNo" order="BEFORE">
			SELECT inquiry_seq.nextval FROM dual
		</selectKey>
		INSERT INTO inquiry ( inquiry_no, user_no, inquiry_tilte, inquiry_content, inquiry_email, inquiry_date )
		VALUES ( #{inquiryNo }, #{userNo }, #{inquiryTitle }, #{inquiryContent }, #{inquiryEmail }, sysdate )
	</insert>

</mapper>